*{
  margin: 0;
  font-family: "Maiandra GD", sans-serif;
  transition: 0.3s ease;
  cursor: default;
}

html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  background-color: #f7f4f4;
  padding: 10px 7px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -2px 5px #000;
  position: relative;
}

header img{
  width: 32px;
  height: 32px;
}

header > h1{
  font-size: 1.7em;
}

header > h1:hover{
  transform: scale(1.1);
}

.coiso{
  position: absolute;
  top:-1em;
  left:0;
  right:0;
  z-index: -8;
  padding: 0.5em;
}
.coiso>div{
  content: "";
  width: 2em;
  height: 2em;
  background-color: #fff;
  position: absolute;
  transform: rotateZ(45deg);
  top: 0.5em;
}

.dropdown{
  display: none;
  max-width: 19em;
  min-height: 0;
  background-color: #fff;
  position: absolute;
  margin-top: 0.5em;
  z-index: 10;
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 2px 2px 5px #000;
}

.dropdown ul{
  list-style: none;
  padding: 1em;
}

.dropdown ul > li{
  padding: 0.5em 0.7em;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  position: relative;
}

.dropdown ul > li::before{
  content: "";
  width: 0;
  height: 0;
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid #fff;
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown ul > li:hover{
  cursor: pointer;
  background-color: #000;
  color: white;
}

.dropdown ul > li:active{
  transform: scale(0.9);
}

.menu:hover .dropdown{
  display: block;
  min-height: auto;
}

main{
  background-color: #fff;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayCelula{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullscreen{
  width: 32px;
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

.celula{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 1px solid red;
  background: lightgray;
  position: relative;
  margin-left: 5em;
}

.displayInformation{
  position: relative;
  height: 100%;
  width: 40%;
  padding: 1em;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid black;
}

.ipic{
  position: relative;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
  bottom: 0;
  font-weight: bold;
}

.ipic:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.displayInformation img{
  max-width: 80%;
}

.organela{
  position: absolute;
  width: 3.5em;
  top: 20%;
}

.citoplasma{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(100, 255, 100, 0.4);
  border-radius: 50%;
}

.nucleo{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 2px solid red;
  background-color: rgba(100, 255, 100, 0.7);
}

.nucleo::after{
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  top: 40%;
  left: 30%;
  border-radius: 50%;
  background-color: rgba(10, 255, 40, 0.9);
  border: 2px solid black;
}

.division1{
  position: relative;
  height: 100%;
  width: 25%;
  border-right: 1px solid #000;
  background-color: #fff;
  overflow: auto;
}

.division2{
  position: relative;
  height: 100%;
  width: 75%;
  padding: 1em;
  box-sizing: border-box;
  border-right: 1px solid #000;
  box-shadow: inset 2px 2px 5px #000;
  background-color: #fff;
  overflow: auto;
}

.division2 h1, .displayInformation h1{
  font-size: 1.5em;
  box-shadow: 0px 3px 0px #000;
  margin-bottom: 24px;
}
.division2 p{
  margin-bottom: 16px;
}

.division2 h2{
  margin-bottom: 0.4em;
  box-shadow: 0px 1px 0px #000;
}

.division2 > div{
  margin-left: 2em;
}

.division2 p, .displayInformation p{
  margin-left: 1em;
  font-size: 1.2em;
}

.selected{
  color: blue;
}

.link{
  color: blue;
  font-weight: bold;
}

.link:hover{
  cursor: pointer;
  text-decoration: underline;
}

.division1 ul{
  list-style: none;
  padding-left: 0.8em;
}

.division1 ul:not(.informations){
  margin-left: 0.8em;
  border-left: 1px solid black;
}

.division1 ul > li{
  padding: 0.5em 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  max-width: 1em;
  z-index: 8;
}

.division1 ul > li:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.division1 ul > li:active{
  transform: scale(0.95);
}

footer{
  padding: 10px 2px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  display: flex;
  justify-content: space-around;
  font-size: 0.7em;
  color: gray;
  box-shadow: inset 0px 2px 5px #000;
}

.hoverable:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.hoverable:active{
  transform: scale(0.9);
}

.hoverMessage{
  font-size: 0.7em;
  position: absolute;
  transition: 0s;
  pointer-events: none;
  background-color: #fff;
  border: 2px solid #000;
  padding: 5px;
}

.oculto{
  display: none;
}

@keyframes aparece{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
